.projects {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.project-card {
    margin: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    border-bottom: 1px solid #f3f3f3;
}

.project-image img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: .5s ease;
}

.project-text {
    width: 50%;
}

.project-image {
    width: 50%;
    padding-top: 20px;
}

.project-image img {
    border-radius: 0%;
    width: 90%;
    transition: .5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-container {
    text-align: center;
    padding-top: 30px;
}


button {
    padding: 7px;
    margin: 10px;
    width: 25%;
    color: #fff;
    background-color: #2098D1;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

h4 {
    text-decoration: underline;
}

button:hover {
    background-color: #45bbf1;
}

@media screen and (max-width: 500px) {
    .projects {
        width: 95%;
        display: block;
        padding-top: 20px;
    }
    .project-card {
        display: block;
        padding-bottom: 40px;
    }
    .project-text {
        width: 100%;
    }
    .project-image {
        width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .projects {
        width: 100%;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .project-card {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}