.projects {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.project-container {
    background-color: #f4f4f4;
}

.project-card {
    margin: 10px;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    border-bottom: 1px solid;
}

.project-text {
    width: 50%;
}

.project-image {
    width: 50%;
    padding-top: 20px;
}

.project-image img {
    border-radius: 0%;
    width: 90%;
}

.project-image img:hover {
    opacity: .5;
    transition: 0.3s;
}

button {
    padding: 7px;
    margin: 10px;
    width: 25%;
    color: #fff;
    background-color: #2098D1;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

h4 {
    text-decoration: underline;
}

button:hover {
    background-color: #45bbf1;
}

@media screen and (max-width: 500px) {
    .projects {
        width: 95%;
        display: block;
        padding-top: 20px;
    }
    .project-card {
        display: block;
        padding-bottom: 40px;
    }
    .project-text {
        width: 100%;
    }
    .project-image {
        width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .projects {
        width: 100%;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .project-card {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}