.about {
    display: flex;
    width: 60%;
    margin: auto;
}

img {
    width: 60%;
    border-radius: 50%;
}

.about {
    margin-top: 120px;
    text-align: center;
    margin-bottom: 120px;
}

.skills {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-bottom: 120px;
    text-align: center;
}

.image {
    text-align: center;
    padding-top: 40px;
}
.skills-list li {
    padding: 5px;
}

.skills-list {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: start;
}

.card {
    border: 2px solid #f4f4f4;
    width: 200px;
    margin-top: 20px;
    text-align: center;
}

.contact {
    color: #000
}

.contact-logo {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.box {
    padding: 5px;
}

@media screen and (max-width: 500px) {
    .about {
      margin-top: 50px;
      margin-bottom: 50px;
      display: block;
    }
    .projects {
        width: 95%;
        display: block;
        padding-top: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .about {
        margin-top: 50px;
        width: 90%;
        margin-bottom: 50px;
    }
}