.container-footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    width: 25%;
    margin: auto;
    color: white;
}

footer {
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #000;
}

a {
    color: #fff;
}
@media screen and (max-width: 500px) {
   .container-footer {
       padding-top: 15px;
       padding-bottom: 15px;
       width: 50%;
   }
  }